body{
  font-family: 'Georgia', serif;
  background-color: #d7c6ac;
  color: #3c2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App{
  width: 60vw;
  /* border: 1px solid red; */
  height: 85vh;
  margin: auto;
  padding: 30px;
  background-color: #f5e8db;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 16px;
}

header h1{
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  text-align: center;
}
.chapter{
  margin-bottom: 50px;
}
.chapter h2{
  font-size: 1.5rem;
  color: #b4722c;
  margin-bottom: 0.5rem;
}

/* ukuran handpone besar  */
@media (min-width: 576px) and (max-width: 767.98px){
   .App{
    padding: 10px 5px;
    width: 80vw;
    height: 90vh;
   }
}

/* ukuran handpone kecil  */
@media (min-width:375px) and (max-width:575px){
    .App{
    padding: 10px 5px;
    width: 80vw;
    height: 90vh;
   }
}